@font-face {
    font-family: 'Crimson_Text'; /*a name to be used later*/
    src: url('./assets/fonts/Crimson_Text/CrimsonText-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'EB_Garamond'; /*a name to be used later*/
    src: url('./assets/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Gilda_Display'; /*a name to be used later*/
    src: url('./assets/fonts/Gilda_Display/GildaDisplay-Regular.ttf'); /*URL to font*/
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Gilda_Display';
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.0)), url(./assets/background/home_background.jpg);
    background-size: cover;
    background-position: center;
}

 .navbar{
    display: flex;
    padding: 40px 0 0 70%;
    justify-content: space-between;
    align-items:  right;
 }

.navbar ul li{
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.navbar ul{
    display: flex;
}


.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 1rem;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

.navbar ul li:hover::after{
    width: 100%;
}


.navbar{
    display: flex;
    padding: 40px 0 0 75%;
    justify-content: space-between;
    align-items:  right;
 }

.navbar ul li{
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.navbar ul{
    display: flex;
}


.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 1rem;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

.navbar ul li:hover::after{
    width: 100%;
}


.content {
    width: 100%;
    position: absolute;
    top: 50%; 
    left: 7%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 60px;
    margin-top: 80px;
    font-weight: 100;
}


.gallery{
    float: center;
}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 600px;
}

.gallery img:hover {
    filter: grayscale(100%);
}

.page-id-129 #main-header {
    background-color: #fff;
}

.license {
    width: 100%;
    position: absolute;
    top: 95%; 
    left: 6%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
